<div class="container_warning" *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)">
    <small *ngIf="form.get('title')?.errors?.['required']">
        El titulo es requerido
    </small>
    <small *ngIf="form.get('title')?.errors?.['maxlength']">
        El maximo de caracteres es 10
    </small>
</div>
<div>
    <span *ngIf="taskActive">
        No puedes mandar una tarea sin titulo
    </span>
</div>


<form class="container_input" [formGroup]="form" (ngSubmit)="sendTaskTitle()">
    <input type="text" name="" id="" formControlName="title">
    <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>